site_name: "pawamoy's website"
site_description: "Findings, thoughts, tutorials, work. Pieces of my mind!"
site_url: "https://pawamoy.github.io/"
repo_url: "https://github.com/pawamoy/website/"
repo_name: "pawamoy/website"

nav:
  - Home: index.md
  - About: about.md
  - Credits: credits.md
  - Posts:
      - 2020:
        - posts/local-http-server-fake-files-testing-purposes.md
        - posts/pass-makefile-args-as-typed-in-command-line.md
        - posts/plugins-as-python-native-namespace-packages.md
        - posts/howto-edit-git-commit-contents.md
        - posts/migrate-disqus-comments-to-utterances-github.md
        - posts/how-to-deal-with-jinja2-spacing.md
        - posts/unify-logging-for-a-gunicorn-uvicorn-app.md
      - 2019:
        - posts/save-pytest-logs-as-artifact-gitlab-ci.md
        - posts/challenge-fill-space-one-line-90-degree-same-direction.md
      - 2018:
        - posts/django-auth-server-for-shiny.md
        - posts/dual-screens-setup-nvidia-bunsenlabs-debian-jessie.md
        - posts/docker-compose-django-postgres-nginx.md
      - 2017:
        - posts/python-static-code-analysis-tools.md
      - 2016:
        - posts/write-and-use-a-tox-plugin-from-inside-your-package.md
        - posts/documentation-in-your-shell-scripts-using-shellman.md
        - posts/django-dashboard-with-suit-and-highcharts.md
  - Showcase:
      - Showcase Grid: showcase.md
      - Projects:
        - showcase/aria2p.md
        - showcase/mkdocstrings.md
        - showcase/copier-poetry.md
        - showcase/pytkdocs.md
        - showcase/git-changelog.md
        - showcase/shell-history.md
        - showcase/failprint.md
        - showcase/dependenpy.md
        - showcase/mvodb.md
        - showcase/shelldemo.md
        - showcase/shellman.md
      # - showcase/shellm/coverage.md
      # - showcase/shellm/debug.md
      # - showcase/shellm/profiler.md
      # - showcase/shellm/trace.md
      # - showcase/shellm/loop.md
      # - showcase/privibot.md
      # - showcase/pawabot.md

theme:
  name: material
  palette:
    scheme: slate
    primary: teal
    accent: purple
  custom_dir: docs/templates
  features:
    - tabs

extra_css:
  - css/custom.css

markdown_extensions:
  - meta
  - admonition
  - codehilite:
      guess_lang: false
  - pymdownx.superfences
  - pymdownx.tasklist
  - pymdownx.emoji
  - pymdownx.magiclink
  - toc:
      permalink: "¤"

plugins:
  - search
  - redirects:
      redirect_maps:
        # mkdocstrings
        mkdocstrings.md: https://mkdocstrings.github.io/
        mkdocstrings/usage.md: https://mkdocstrings.github.io/usage/
        mkdocstrings/handlers/overview.md: https://mkdocstrings.github.io/handlers/overview/
        mkdocstrings/handlers/python.md: https://mkdocstrings.github.io/handlers/python/
        mkdocstrings/reference/handlers/base.md: https://mkdocstrings.github.io/reference/handlers/base/
        mkdocstrings/reference/handlers/python.md: https://mkdocstrings.github.io/reference/handlers/python/
        mkdocstrings/reference/extension.md: https://mkdocstrings.github.io/reference/extension/
        mkdocstrings/reference/plugin.md: https://mkdocstrings.github.io/reference/plugin/
        mkdocstrings/reference/references.md: https://mkdocstrings.github.io/reference/references/
        mkdocstrings/troubleshooting.md: https://mkdocstrings.github.io/troubleshooting/
        mkdocstrings/contributing.md: https://mkdocstrings.github.io/contributing/
        mkdocstrings/code_of_conduct.md: https://mkdocstrings.github.io/code_of_conduct/
        mkdocstrings/changelog.md: https://mkdocstrings.github.io/changelog/
        mkdocstrings/credits.md: https://mkdocstrings.github.io/credits/
        mkdocstrings/license.md: https://mkdocstrings.github.io/license/

        # pytkdocs
        pytkdocs.md: https://mkdocstrings.github.io/pytkdocs/
        pytkdocs/reference/__init__.md: https://mkdocstrings.github.io/pytkdocs/reference/__init__/
        pytkdocs/reference/__main__.md: https://mkdocstrings.github.io/pytkdocs/reference/__main__/
        pytkdocs/reference/cli.md: https://mkdocstrings.github.io/pytkdocs/reference/cli/
        pytkdocs/reference/loader.md: https://mkdocstrings.github.io/pytkdocs/reference/loader/
        pytkdocs/reference/objects.md: https://mkdocstrings.github.io/pytkdocs/reference/objects/
        pytkdocs/reference/parsers/__init__.md: https://mkdocstrings.github.io/pytkdocs/reference/parsers/__init__/
        pytkdocs/reference/parsers/attributes.md: https://mkdocstrings.github.io/pytkdocs/reference/parsers/attributes/
        pytkdocs/reference/parsers/docstrings/__init__.md: https://mkdocstrings.github.io/pytkdocs/reference/parsers/docstrings/__init__/
        pytkdocs/reference/parsers/docstrings/base.md: https://mkdocstrings.github.io/pytkdocs/reference/parsers/docstrings/base/
        pytkdocs/reference/parsers/docstrings/google.md: https://mkdocstrings.github.io/pytkdocs/reference/parsers/docstrings/google/
        pytkdocs/reference/properties.md: https://mkdocstrings.github.io/pytkdocs/reference/properties/
        pytkdocs/reference/serializer.md: https://mkdocstrings.github.io/pytkdocs/reference/serializer/
        pytkdocs/contributing.md: https://mkdocstrings.github.io/pytkdocs/contributing/
        pytkdocs/code_of_conduct.md: https://mkdocstrings.github.io/pytkdocs/code_of_conduct/
        pytkdocs/changelog.md: https://mkdocstrings.github.io/pytkdocs/changelog/
        pytkdocs/credits.md: https://mkdocstrings.github.io/pytkdocs/credits/

        # old posts
        2020/06/02/unify-logging-for-a-gunicorn-uvicorn-app.md: posts/unify-logging-for-a-gunicorn-uvicorn-app.md
        2019/10/17/save-pytest-logs-as-artifact-gitlab-ci.md: posts/save-pytest-logs-as-artifact-gitlab-ci.md
        2019/02/01/challenge-fill-space-one-line-90-degree-same-direction.md: posts/challenge-fill-space-one-line-90-degree-same-direction.md
        2018/03/15/django-auth-server-for-shiny.md: posts/django-auth-server-for-shiny.md
        2018/03/09/dual-screens-setup-nvidia-bunsenlabs-debian-jessie.md: posts/dual-screens-setup-nvidia-bunsenlabs-debian-jessie.md
        2018/02/01/docker-compose-django-postgres-nginx.html.md: posts/docker-compose-django-postgres-nginx.md
        2017/05/31/python-static-code-analysis-tools.html.md: posts/python-static-code-analysis-tools.md
        2016/12/07/documentation-in-your-shell-scripts-using-shellman.html.md: posts/documentation-in-your-shell-scripts-using-shellman.md
        2016/12/07/write-and-use-a-tox-plugin-from-inside-your-package.html.md: posts/write-and-use-a-tox-plugin-from-inside-your-package.md
        2016/04/06/django-dashboard-with-suit-and-highcharts.html.md: posts/django-dashboard-with-suit-and-highcharts.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/pawamoy
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/pawamoy
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/timothée-mazzucotelli-0321607b/
    - icon: fontawesome/brands/instagram
      link: https://instagram.com/paaawamoy
