---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

{% if site.highlight_theme == 'tango' %}
/**
 * TANGO THEME
 */
pre, code {
  background-color: #fff;
}

.highlight {
  background: #fff;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: #fff;
  }

  .c { color: #8f5902; font-style: italic } // Comment
  .err { color: #a40000; border: 1px solid #ef2929 } // Error
  .g { color: #000000 } // Generic
  .k { color: #204a87; font-weight: bold } // Keyword
  .l { color: #000000 } // Literal
  .n { color: #000000 } // Name
  .o { color: #ce5c00; font-weight: bold } // Operator
  .x { color: #000000 } // Other
  .p { color: #000000; font-weight: bold } // Punctuation
  .cm { color: #8f5902; font-style: italic } // Comment.Multiline
  .cp { color: #8f5902; font-style: italic } // Comment.Preproc
  .c1 { color: #8f5902; font-style: italic } // Comment.Single
  .cs { color: #8f5902; font-style: italic } // Comment.Special
  .gd { color: #a40000 } // Generic.Deleted
  .ge { color: #000000; font-style: italic } // Generic.Emph
  .gr { color: #ef2929 } // Generic.Error
  .gh { color: #000080; font-weight: bold } // Generic.Heading
  .gi { color: #00A000 } // Generic.Inserted
  .go { color: #000000; font-style: italic } // Generic.Output
  .gp { color: #8f5902 } // Generic.Prompt
  .gs { color: #000000; font-weight: bold } // Generic.Strong
  .gu { color: #800080; font-weight: bold } // Generic.Subheading
  .gt { color: #a40000; font-weight: bold } // Generic.Traceback
  .kc { color: #204a87; font-weight: bold } // Keyword.Constant
  .kd { color: #204a87; font-weight: bold } // Keyword.Declaration
  .kn { color: #204a87; font-weight: bold } // Keyword.Namespace
  .kp { color: #204a87; font-weight: bold } // Keyword.Pseudo
  .kr { color: #204a87; font-weight: bold } // Keyword.Reserved
  .kt { color: #204a87; font-weight: bold } // Keyword.Type
  .ld { color: #000000 } // Literal.Date
  .m { color: #0000cf; font-weight: bold } // Literal.Number
  .s { color: #4e9a06 } // Literal.String
  .na { color: #c4a000 } // Name.Attribute
  .nb { color: #204a87 } // Name.Builtin
  .nc { color: #000000 } // Name.Class
  .no { color: #000000 } // Name.Constant
  .nd { color: #5c35cc; font-weight: bold } // Name.Decorator
  .ni { color: #ce5c00 } // Name.Entity
  .ne { color: #cc0000; font-weight: bold } // Name.Exception
  .nf { color: #000000 } // Name.Function
  .nl { color: #f57900 } // Name.Label
  .nn { color: #000000 } // Name.Namespace
  .nx { color: #000000 } // Name.Other
  .py { color: #000000 } // Name.Property
  .nt { color: #204a87; font-weight: bold } // Name.Tag
  .nv { color: #000000 } // Name.Variable
  .ow { color: #204a87; font-weight: bold } // Operator.Word
  .w { color: #f8f8f8; text-decoration: underline } // Text.Whitespace
  .mf { color: #0000cf; font-weight: bold } // Literal.Number.Float
  .mh { color: #0000cf; font-weight: bold } // Literal.Number.Hex
  .mi { color: #0000cf; font-weight: bold } // Literal.Number.Integer
  .mo { color: #0000cf; font-weight: bold } // Literal.Number.Oct
  .sb { color: #4e9a06 } // Literal.String.Backtick
  .sc { color: #4e9a06 } // Literal.String.Char
  .sd { color: #8f5902; font-style: italic } // Literal.String.Doc
  .s2 { color: #4e9a06 } // Literal.String.Double
  .se { color: #4e9a06 } // Literal.String.Escape
  .sh { color: #4e9a06 } // Literal.String.Heredoc
  .si { color: #4e9a06 } // Literal.String.Interpol
  .sx { color: #4e9a06 } // Literal.String.Other
  .sr { color: #4e9a06 } // Literal.String.Regex
  .s1 { color: #4e9a06 } // Literal.String.Single
  .ss { color: #4e9a06 } // Literal.String.Symbol
  .bp { color: #3465a4 } // Name.Builtin.Pseudo
  .vc { color: #000000 } // Name.Variable.Class
  .vg { color: #000000 } // Name.Variable.Global
  .vi { color: #000000 } // Name.Variable.Instance
  .il { color: #0000cf; font-weight: bold } // Literal.Number.Integer.Long
}

{% elsif site.highlight_theme == 'manni' %}
/**
 * MANNI THEME
 */
pre, code {
  background-color: #fff;
}

.highlight {
  background: #fff;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: #fff;
  }

  // .hll { background-color: #ffffcc }
  .c { color: #0099FF; font-style: italic } // Comment
  .err { color: #AA0000; background-color: #FFAAAA } // Error
  .k { color: #006699; font-weight: bold } // Keyword
  .o { color: #555555 } // Operator
  .cm { color: #0099FF; font-style: italic } // Comment.Multiline
  .cp { color: #009999 } // Comment.Preproc
  .c1 { color: #0099FF; font-style: italic } // Comment.Single
  .cs { color: #0099FF; font-weight: bold; font-style: italic } // Comment.Special
  .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } // Generic.Deleted
  .ge { font-style: italic } // Generic.Emph
  .gr { color: #FF0000 } // Generic.Error
  .gh { color: #003300; font-weight: bold } // Generic.Heading
  .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } // Generic.Inserted
  .go { color: #AAAAAA } // Generic.Output
  .gp { color: #000099; font-weight: bold } // Generic.Prompt
  .gs { font-weight: bold } // Generic.Strong
  .gu { color: #003300; font-weight: bold } // Generic.Subheading
  .gt { color: #99CC66 } // Generic.Traceback
  .kc { color: #006699; font-weight: bold } // Keyword.Constant
  .kd { color: #006699; font-weight: bold } // Keyword.Declaration
  .kn { color: #006699; font-weight: bold } // Keyword.Namespace
  .kp { color: #006699 } // Keyword.Pseudo
  .kr { color: #006699; font-weight: bold } // Keyword.Reserved
  .kt { color: #007788; font-weight: bold } // Keyword.Type
  .m { color: #FF6600 } // Literal.Number
  .s { color: #CC3300 } // Literal.String
  .na { color: #330099 } // Name.Attribute
  .nb { color: #336666 } // Name.Builtin
  .nc { color: #00AA88; font-weight: bold } // Name.Class
  .no { color: #336600 } // Name.Constant
  .nd { color: #9999FF } // Name.Decorator
  .ni { color: #999999; font-weight: bold } // Name.Entity
  .ne { color: #CC0000; font-weight: bold } // Name.Exception
  .nf { color: #CC00FF } // Name.Function
  .nl { color: #9999FF } // Name.Label
  .nn { color: #00CCFF; font-weight: bold } // Name.Namespace
  .nt { color: #330099; font-weight: bold } // Name.Tag
  .nv { color: #003333 } // Name.Variable
  .ow { color: #000000; font-weight: bold } // Operator.Word
  .w { color: #bbbbbb } // Text.Whitespace
  .mf { color: #FF6600 } // Literal.Number.Float
  .mh { color: #FF6600 } // Literal.Number.Hex
  .mi { color: #FF6600 } // Literal.Number.Integer
  .mo { color: #FF6600 } // Literal.Number.Oct
  .sb { color: #CC3300 } // Literal.String.Backtick
  .sc { color: #CC3300 } // Literal.String.Char
  .sd { color: #CC3300; font-style: italic } // Literal.String.Doc
  .s2 { color: #CC3300 } // Literal.String.Double
  .se { color: #CC3300; font-weight: bold } // Literal.String.Escape
  .sh { color: #CC3300 } // Literal.String.Heredoc
  .si { color: #AA0000 } // Literal.String.Interpol
  .sx { color: #CC3300 } // Literal.String.Other
  .sr { color: #33AAAA } // Literal.String.Regex
  .s1 { color: #CC3300 } // Literal.String.Single
  .ss { color: #FFCC33 } // Literal.String.Symbol
  .bp { color: #336666 } // Name.Builtin.Pseudo
  .vc { color: #003333 } // Name.Variable.Class
  .vg { color: #003333 } // Name.Variable.Global
  .vi { color: #003333 } // Name.Variable.Instance
  .il { color: #FF6600 } // Literal.Number.Integer.Long
}

{% elsif site.highlight_theme == 'github' %}
/**
 * GITHUB THEME
 */
pre, code {
  background-color: #fff;
}

.highlight {
  background: #fff;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: #fff;
  }

  // .hll { background-color: #ffffcc }
  .c { color: #999988; font-style: italic } // Comment
  .err { color: #a61717; background-color: #e3d2d2 } // Error
  .k { color: #000000; font-weight: bold } // Keyword
  .o { color: #000000; font-weight: bold } // Operator
  .cm { color: #999988; font-style: italic } // Comment.Multiline
  .cp { color: #999999; font-weight: bold; font-style: italic } // Comment.Preproc
  .c1 { color: #999988; font-style: italic } // Comment.Single
  .cs { color: #999999; font-weight: bold; font-style: italic } // Comment.Special
  .gd { color: #000000; background-color: #ffdddd } // Generic.Deleted
  .ge { color: #000000; font-style: italic } // Generic.Emph
  .gr { color: #aa0000 } // Generic.Error
  .gh { color: #999999 } // Generic.Heading
  .gi { color: #000000; background-color: #ddffdd } // Generic.Inserted
  .go { color: #888888 } // Generic.Output
  .gp { color: #555555 } // Generic.Prompt
  .gs { font-weight: bold } // Generic.Strong
  .gu { color: #aaaaaa } // Generic.Subheading
  .gt { color: #aa0000 } // Generic.Traceback
  .kc { color: #000000; font-weight: bold } // Keyword.Constant
  .kd { color: #000000; font-weight: bold } // Keyword.Declaration
  .kn { color: #000000; font-weight: bold } // Keyword.Namespace
  .kp { color: #000000; font-weight: bold } // Keyword.Pseudo
  .kr { color: #000000; font-weight: bold } // Keyword.Reserved
  .kt { color: #445588; font-weight: bold } // Keyword.Type
  .m { color: #009999 } // Literal.Number
  .s { color: #d01040 } // Literal.String
  .na { color: #008080 } // Name.Attribute
  .nb { color: #0086B3 } // Name.Builtin
  .nc { color: #445588; font-weight: bold } // Name.Class
  .no { color: #008080 } // Name.Constant
  .nd { color: #3c5d5d; font-weight: bold } // Name.Decorator
  .ni { color: #800080 } // Name.Entity
  .ne { color: #990000; font-weight: bold } // Name.Exception
  .nf { color: #990000; font-weight: bold } // Name.Function
  .nl { color: #990000; font-weight: bold } // Name.Label
  .nn { color: #555555 } // Name.Namespace
  .nt { color: #000080 } // Name.Tag
  .nv { color: #008080 } // Name.Variable
  .ow { color: #000000; font-weight: bold } // Operator.Word
  .w { color: #bbbbbb } // Text.Whitespace
  .mf { color: #009999 } // Literal.Number.Float
  .mh { color: #009999 } // Literal.Number.Hex
  .mi { color: #009999 } // Literal.Number.Integer
  .mo { color: #009999 } // Literal.Number.Oct
  .sb { color: #d01040 } // Literal.String.Backtick
  .sc { color: #d01040 } // Literal.String.Char
  .sd { color: #d01040 } // Literal.String.Doc
  .s2 { color: #d01040 } // Literal.String.Double
  .se { color: #d01040 } // Literal.String.Escape
  .sh { color: #d01040 } // Literal.String.Heredoc
  .si { color: #d01040 } // Literal.String.Interpol
  .sx { color: #d01040 } // Literal.String.Other
  .sr { color: #009926 } // Literal.String.Regex
  .s1 { color: #d01040 } // Literal.String.Single
  .ss { color: #990073 } // Literal.String.Symbol
  .bp { color: #999999 } // Name.Builtin.Pseudo
  .vc { color: #008080 } // Name.Variable.Class
  .vg { color: #008080 } // Name.Variable.Global
  .vi { color: #008080 } // Name.Variable.Instance
  .il { color: #009999 } // Literal.Number.Integer.Long
}

{% elsif site.highlight_theme == 'murphy' %}
/**
 * MURPHY THEME
 */
pre, code {
  background-color: #fff;
}

.highlight {
  background: #fff;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: #fff;
  }

  // .hll { background-color: #ffffcc }
  .c { color: #606060; font-style: italic } // Comment
  .err { color: #F00000; background-color: #F0A0A0 } // Error
  .k { color: #208090; font-weight: bold } // Keyword
  .o { color: #303030 } // Operator
  .cm { color: #606060; font-style: italic } // Comment.Multiline
  .cp { color: #507090 } // Comment.Preproc
  .c1 { color: #606060; font-style: italic } // Comment.Single
  .cs { color: #c00000; font-weight: bold; font-style: italic } // Comment.Special
  .gd { color: #A00000 } // Generic.Deleted
  .ge { font-style: italic } // Generic.Emph
  .gr { color: #FF0000 } // Generic.Error
  .gh { color: #000080; font-weight: bold } // Generic.Heading
  .gi { color: #00A000 } // Generic.Inserted
  .go { color: #808080 } // Generic.Output
  .gp { color: #c65d09; font-weight: bold } // Generic.Prompt
  .gs { font-weight: bold } // Generic.Strong
  .gu { color: #800080; font-weight: bold } // Generic.Subheading
  .gt { color: #0040D0 } // Generic.Traceback
  .kc { color: #208090; font-weight: bold } // Keyword.Constant
  .kd { color: #208090; font-weight: bold } // Keyword.Declaration
  .kn { color: #208090; font-weight: bold } // Keyword.Namespace
  .kp { color: #0080f0; font-weight: bold } // Keyword.Pseudo
  .kr { color: #208090; font-weight: bold } // Keyword.Reserved
  .kt { color: #6060f0; font-weight: bold } // Keyword.Type
  .m { color: #6000E0; font-weight: bold } // Literal.Number
  .s { background-color: #e0e0ff } // Literal.String
  .na { color: #000070 } // Name.Attribute
  .nb { color: #007020 } // Name.Builtin
  .nc { color: #e090e0; font-weight: bold } // Name.Class
  .no { color: #50e0d0; font-weight: bold } // Name.Constant
  .nd { color: #505050; font-weight: bold } // Name.Decorator
  .ni { color: #800000 } // Name.Entity
  .ne { color: #F00000; font-weight: bold } // Name.Exception
  .nf { color: #50e0d0; font-weight: bold } // Name.Function
  .nl { color: #907000; font-weight: bold } // Name.Label
  .nn { color: #0e84b5; font-weight: bold } // Name.Namespace
  .nt { color: #007000 } // Name.Tag
  .nv { color: #003060 } // Name.Variable
  .ow { color: #000000; font-weight: bold } // Operator.Word
  .w { color: #bbbbbb } // Text.Whitespace
  .mf { color: #6000E0; font-weight: bold } // Literal.Number.Float
  .mh { color: #005080; font-weight: bold } // Literal.Number.Hex
  .mi { color: #6060f0; font-weight: bold } // Literal.Number.Integer
  .mo { color: #4000E0; font-weight: bold } // Literal.Number.Oct
  .sb { background-color: #e0e0ff } // Literal.String.Backtick
  .sc { color: #8080F0 } // Literal.String.Char
  .sd { color: #D04020 } // Literal.String.Doc
  .s2 { background-color: #e0e0ff } // Literal.String.Double
  .se { color: #606060; font-weight: bold; background-color: #e0e0ff } // Literal.String.Escape
  .sh { background-color: #e0e0ff } // Literal.String.Heredoc
  .si { background-color: #e0e0e0 } // Literal.String.Interpol
  .sx { color: #f08080; background-color: #e0e0ff } // Literal.String.Other
  .sr { color: #000000; background-color: #e0e0ff } // Literal.String.Regex
  .s1 { background-color: #e0e0ff } // Literal.String.Single
  .ss { color: #f0c080 } // Literal.String.Symbol
  .bp { color: #007020 } // Name.Builtin.Pseudo
  .vc { color: #c0c0f0 } // Name.Variable.Class
  .vg { color: #f08040 } // Name.Variable.Global
  .vi { color: #a0a0f0 } // Name.Variable.Instance
  .il { color: #6060f0; font-weight: bold } // Literal.Number.Integer.Long
}

{% elsif site.highlight_theme == 'tomorrow' %}
/**
 * TOMORROW THEME
 */
pre, code {
  background-color: #fff;
  color: #1d1f21;
}

.highlight {
  background: #fff;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: #fff;
  }

  // { background: #ffffff; color: #1d1f21 }
  // .hll { background-color: #e0e0e0 }
  .c { color: #b4b7b4 } // Comment
  .err { color: #cc6666 } // Error
  .k { color: #b294bb } // Keyword
  .l { color: #de935f } // Literal
  .n { color: #1d1f21 } // Name
  .o { color: #8abeb7 } // Operator
  .p { color: #1d1f21 } // Punctuation
  .cm { color: #b4b7b4 } // Comment.Multiline
  .cp { color: #b4b7b4 } // Comment.Preproc
  .c1 { color: #b4b7b4 } // Comment.Single
  .cs { color: #b4b7b4 } // Comment.Special
  .gd { color: #cc6666 } // Generic.Deleted
  .ge { font-style: italic } // Generic.Emph
  .gh { color: #1d1f21; font-weight: bold } // Generic.Heading
  .gi { color: #b5bd68 } // Generic.Inserted
  .gp { color: #b4b7b4; font-weight: bold } // Generic.Prompt
  .gs { font-weight: bold } // Generic.Strong
  .gu { color: #8abeb7; font-weight: bold } // Generic.Subheading
  .kc { color: #b294bb } // Keyword.Constant
  .kd { color: #b294bb } // Keyword.Declaration
  .kn { color: #8abeb7 } // Keyword.Namespace
  .kp { color: #b294bb } // Keyword.Pseudo
  .kr { color: #b294bb } // Keyword.Reserved
  .kt { color: #f0c674 } // Keyword.Type
  .ld { color: #b5bd68 } // Literal.Date
  .m { color: #de935f } // Literal.Number
  .s { color: #b5bd68 } // Literal.String
  .na { color: #81a2be } // Name.Attribute
  .nb { color: #1d1f21 } // Name.Builtin
  .nc { color: #f0c674 } // Name.Class
  .no { color: #cc6666 } // Name.Constant
  .nd { color: #8abeb7 } // Name.Decorator
  .ni { color: #1d1f21 } // Name.Entity
  .ne { color: #cc6666 } // Name.Exception
  .nf { color: #81a2be } // Name.Function
  .nl { color: #1d1f21 } // Name.Label
  .nn { color: #f0c674 } // Name.Namespace
  .nx { color: #81a2be } // Name.Other
  .py { color: #1d1f21 } // Name.Property
  .nt { color: #8abeb7 } // Name.Tag
  .nv { color: #cc6666 } // Name.Variable
  .ow { color: #8abeb7 } // Operator.Word
  .w { color: #1d1f21 } // Text.Whitespace
  .mf { color: #de935f } // Literal.Number.Float
  .mh { color: #de935f } // Literal.Number.Hex
  .mi { color: #de935f } // Literal.Number.Integer
  .mo { color: #de935f } // Literal.Number.Oct
  .sb { color: #b5bd68 } // Literal.String.Backtick
  .sc { color: #1d1f21 } // Literal.String.Char
  .sd { color: #b4b7b4 } // Literal.String.Doc
  .s2 { color: #b5bd68 } // Literal.String.Double
  .se { color: #de935f } // Literal.String.Escape
  .sh { color: #b5bd68 } // Literal.String.Heredoc
  .si { color: #de935f } // Literal.String.Interpol
  .sx { color: #b5bd68 } // Literal.String.Other
  .sr { color: #b5bd68 } // Literal.String.Regex
  .s1 { color: #b5bd68 } // Literal.String.Single
  .ss { color: #b5bd68 } // Literal.String.Symbol
  .bp { color: #1d1f21 } // Name.Builtin.Pseudo
  .vc { color: #cc6666 } // Name.Variable.Class
  .vg { color: #cc6666 } // Name.Variable.Global
  .vi { color: #cc6666 } // Name.Variable.Instance
  .il { color: #de935f } // Literal.Number.Integer.Long
}
{% endif %}
